<?xml version="1.0" encoding="UTF-8"?>
<Container version="2">
  <Name>valetudo-mapper</Name>
  <Repository>rand256/valetudo-mapper</Repository>
  <Registry>https://hub.docker.com/r/rand256/valetudo-mapper/</Registry>
  <Network>bridge</Network>
  <Privileged>false</Privileged>
  <Support>https://forums.unraid.net/topic/102829-support-c4artz-templates/</Support>
  <Project>https://github.com/rand256/valetudo-mapper</Project>
  <Overview>Valetudo-RE companion service for generating PNG maps.&#13;&#13;This is a simple companion service for valetudo which does all the heavy lifting.&#13;Since both CPU and Memory are limited on the robot, PNG generation for third-party components has been moved here.&#13;&#13;&#13;[b]Make sure you have already created the needed config file! Follow this example https://github.com/rand256/valetudo-mapper[b]</Overview>
  <Icon>https://raw.githubusercontent.com/C4ArtZ/Unraid-Templates/master/templates/icons/valetudo-mapper.png</Icon>
  <Config Name="Config file" Target="/app/config.json" Default="/mnt/user/appdata/valetudo-mapper/config.json" Mode="rw" Description="Path to your config.json file. Follow the example here https://github.com/rand256/valetudo-mapper" Type="Path" Display="always" Required="true" Mask="false">/mnt/user/appdata/valetudo-mapper/config.json</Config>
  <TemplateURL>https://raw.githubusercontent.com/C4ArtZ/Unraid-Templates/master/templates/valetudo-mapper.xml</TemplateURL>
  <Description>Valetudo-RE companion service for generating PNG maps.&#13;&#13;This is a simple companion service for valetudo which does all the heavy lifting.&#13;Since both CPU and Memory are limited on the robot, PNG generation for third-party components has been moved here.&#13;&#13;&#13;Make sure you have already created the needed config file! Follow this example https://github.com/rand256/valetudo-mapper</Description>
  <templatePath>/tmp/GitHub/AppFeed/templates/c4artzRepository/templates/valetudo-mapper.xml</templatePath>
</Container>
